h1{
    text-align: center;
}

ol{ 
    display: inline-block; 
    text-align: left; 
}

.lista{
    text-align: center;
    font-size: larger;
}

.terra{
    color: green;
    font-weight: bolder;
}